ion-content ion-toolbar {
    --background: translucent;
  }
  .danger {
    --ion-background-color: #ffebee;
  }
  .primary {
    --ion-background-color: #e3f2fd;
  }
  .recovery {
    --ion-background-color: #e8f5e9;
  }
  .death {
    --ion-background-color: #ebebeb;
  }

  .datatable-row-center {
    border-style:solid;
    border-width: 1px;
    border-color:#ccc;
    margin-top:1px;
    margin-bottom:1px;
}